body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    right: 0;
}

.menu-lista {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 50px;
}

.menu-item {
    padding: 1em;
    text-decoration: none;
}

.inicio {
    color: red;
}

.botao {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    margin-left: 1400px;
    margin-top: -40px;
}

.logo {
    position: absolute;
    margin-left: 400px;
    margin-top: 40px;
}

.textos {
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
}

.texto-um {
    font-weight: bold;
    font-size: 60px;
}

.botao-dois {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

.teste {
    margin-left: 1000px;
}

.botao-menu {
    display: none;
}

.texto-section-dois {
    text-align: center;
    padding-top: 100px;
}

.legenda-dois {
    color: red;
    text-align: center;
}

.titulo-dois {
    text-align: center;
}

.section-dois {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.legenda-card {
    font-weight: bold;
}

.texto-card {
    font-size: 13px;
}

.cartao {
    padding: 1em;
    width: 350px;
}

.card {
    background-color: #181818;
    padding: 2em;
}

.section-tres {
    display: grid;
    gap: 2em;
    padding-left: 550px;
    padding-top: 150px;
}

.seta {
    position: absolute;
    padding-left: 20px;
}

.lista-tres {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.lista-tres-itens {
    padding: 1em;
    padding-left: 0;
    margin-left: 0;
}


.section-quatro {
    margin-top: -450px;
    padding-left: 1000px;
}

.botao-quatro {
    background-color: #F55529;
    color: white;
    padding: 15px;
    border: none;
}

.texto-cinco {
    padding-top: 300px;
    text-align: center;
}

.section-cinco {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    padding-top: 50px;
    gap: 2em;
}

.botao-cinco {
    background-color: #F55529;
    color: white;
    border: none;
    padding: 15px;
}

.botao-section-cinco {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.texto-seis {
    text-align: center;
    padding-top: 100px;
}

.texto-cartao {
    font-size: 13px;
    background-color: #181818;
    padding: 40px;
}

.teste1 {
    position: absolute;
    margin-top: -70px;
    padding-left: 105px;
}

.teste2 {
    color: gray;
    font-size: 13px;
    position: absolute;
    margin-top: -70px;
    padding-left: 105px;
}

.card-seis {
    padding-top: 10px;
}

.section-seis {
    display: flex;
    justify-content: center;
}

.cartao-seis {
    padding: 1em;
}

.texto-sete {
    padding-left: 500px;
}

.titulo-sete {
    font-weight: bold;
    font-size: 20px;
}

.legenda-sete {
    color: gray;
}

.img-sete {
    padding: 2em;
}

.card-sete {
    display: flex;
    justify-content: center;
    padding-left: 400px;
    margin-top: -120px;
}

.section-sete {
    background-color: #181818;
    margin-top: 80px;
    padding: 40px;
}


@media screen and (max-device-width: 700px) {

    .section-principal {
        padding-top: 50px;
    }
    
    .botao {
        display: none;
    }

    .logo {
        position: absolute;
        margin-left: 0;
        margin-top: 0;
    }

    .icones {
        display: flex;
        justify-content: end;
    }

    .botao-menu {
        display: block;
        border: none;
        color: red;
        background: none;
    }

    .menu-lista {
        display: none;
        text-align: end;
        height: 100vh;
    }

    .menu-item {
        display: inline-block;
        text-align: center;
        align-items: center;
    }

    .teste {
        margin-left: 0;
        width: 200px;
    }

    .foto-principal {
        text-align: center;
        padding-top: 320px;
    }

    .textos {
        position: absolute;
        margin-left: 0;
        margin-top: 0;
    }

    .texto-um {
        font-weight: bold;
        font-size: 20px;
    }

    .botao-dois {
        background-color: red;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

    .texto-dois {
        font-size: 14px;
    
    }

    .textos {
        position: absolute;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        padding-top: 50px;
    }

    .legenda-dois {
        text-align: center;
    }

    .titulo-dois {
        text-align: center;
    }

    .section-dois {
        display: grid;
        justify-content: center;
        padding-top: 50px;
    }

    .section-tres {
        display: grid;
        gap: 2em;
        padding-left: 10px;
        padding-top: 150px;
    }

    .section-quatro {
        margin-top: 50px;
        padding-left: 0;
        text-align: center;
    }

    .texto-cinco {
        padding-top: 100px;
        text-align: center;
    }

    .section-cinco {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        justify-content: center;
        padding-top: 50px;
        gap: 1em;
    }

    .img-cinco {
        width: 100px;
    }

    .section-seis {
        display: grid;
        justify-content: center;
    }

    .texto-sete {
        padding-top: 100px;
        padding-left: 0;
        text-align: center;
    }

    .card-sete {
        display: grid;
        justify-content: center;
        padding-left: 0;
        margin-top: 50px;
    }
}
