body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    right: 0;
}

.menu-lista {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 50px;
}

.menu-item {
    padding: 1em;
    text-decoration: none;
}

.inicio {
    color: red;
}

.botao {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    margin-left: 1400px;
    margin-top: -40px;
}

.logo {
    position: absolute;
    margin-left: 400px;
    margin-top: 40px;
}

.textos {
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
}

.texto-um {
    font-weight: bold;
    font-size: 60px;
}

.botao-dois {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

.teste {
    margin-left: 1000px;
}

.botao-menu {
    display: none;
}

.texto-section-dois {
    text-align: center;
    padding-top: 100px;
}

.legenda-dois {
    color: red;
    text-align: center;
}

.titulo-dois {
    text-align: center;
}

.section-dois {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.cartao {
    padding: 1em;
}

.card {
    background-color: #181818;
    padding: 2em;
}

@media screen and (max-device-width: 700px) {

    .section-principal {
        padding-top: 50px;
    }
    
    .botao {
        display: none;
    }

    .logo {
        position: absolute;
        margin-left: 0;
        margin-top: 0;
    }

    .icones {
        display: flex;
        justify-content: end;
    }

    .botao-menu {
        display: block;
        border: none;
        color: red;
        background: none;
    }

    .menu-lista {
        display: none;
        text-align: end;
        height: 100vh;
    }

    .menu-item {
        display: inline-block;
        text-align: center;
        align-items: center;
    }

    .teste {
        margin-left: 0;
        width: 200px;
    }

    .foto-principal {
        text-align: center;
        padding-top: 320px;
    }

    .textos {
        position: absolute;
        margin-left: 0;
        margin-top: 0;
    }

    .texto-um {
        font-weight: bold;
        font-size: 20px;
    }

    .botao-dois {
        background-color: red;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

    .texto-dois {
        font-size: 14px;
    
    }

    .textos {
        position: absolute;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        padding-top: 50px;
    }

    .legenda-dois {
        text-align: center;
    }

    .titulo-dois {
        text-align: center;
    }

    .section-dois {
        display: grid;
        justify-content: center;
        padding-top: 50px;
    }

}
